/* #region MainContainer */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: {{fontName}}, Nunito, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.ColorBGStyle {
    background: {{BGColor}};
}
.ImageBGStyle {
    background: url(https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228);
    background-position: center;
    background-size: cover;
}
.PanelStyle {
    border-radius: 25px;
    padding: 1em;
}
.TextVignette {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(left, transparent 0%, black 50%, transparent 100%);
}
/* #endregion MainContainer */
/* #region BackAndForthAnimation */
.animated {
    position: relative;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    white-space: no-wrap;
}

/*
    Need to us JS to change animation time as a function of the length of the text in the trackname/trackartist,

    https://stackoverflow.com/questions/51697419/how-to-set-the-animation-time-of-a-paragraph-based-on-the-length-of-the-text-in
*/
.track-name-animated {
    color: #fff;
    animation: 6s linear 1 normal forwards scrollRight;
    display: inline-block;
    position: relative;
}

.track-artist-animated {
    color: #fff;
    animation: 6s linear 1 normal forwards scrollRight;
    display: inline-block;
    position: relative;
}
@keyframes scrollRight {
    from {
		left: 0;
    }
    to {
        transform: translateX(-100%);
		left: 100%;
    }
}
/* #endregion BackAndForthAnimation */
/* #region HorizontalLayout */
.horizontalLayout {
    display: grid;
  	grid-template-columns: 300px 1fr;
    grid-template-rows: 300px;
    grid-column-gap: 1em;
}
/*
    Grid:
        1 2 3 
        2 C|I|

        C = Track Cover
        I = Info
*/
.horizontalLayout .cover {
    grid-column: 1 / 2;
}
.horizontalLayout .info {
    grid-column: 2 / 3;
    display: grid;
    grid-template: "track-info" 3fr "track-playback" 2fr / 1fr;
    grid-row-gap: 1em;
}
.horizontalLayout .track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: track-info;
    overflow: hidden;
}
.horizontalLayout .track-name {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: track-info;
  	white-space: nowrap;
    overflow: hidden;
}
.horizontalLayout .track-artist {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: track-info;
  	white-space: nowrap;
    overflow: hidden;
}
.horizontalLayout .info .track-playback {
    grid-area: track-playback;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.horizontalLayout .track-time{
    display: flex;
    justify-content: space-between;
}
/* #region ProgressBar */
.horizontalLayout .track-bar {
    border-radius: 5px;
    background: #717171;
    height: 0.5em;
}

.horizontalLayout .track-progress {
    border-radius: 5px;
    width: 80%;
    height: 100%;
    background: #c1c1c1;
    grid-column: 2 / 5;
    grid-row: 4 / 6;
}
/* #endregion ProgressBar */
/* #endregion HorizontalLayout */


