/* #region Main */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    font-family: {{fontName}}, Nunito, Arial, sans-serif;
    font-size: {{fontSize}}px;
    text-shadow: {{textDropShadowOffset}}px {{textDropShadowOffset}}px {{textDropShadowBlurSize}}px black;
}
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    --track-cover-size: 300px;
}
.IndividualColorPanel {
    background: {{IndividualColorPanel}};
}
.fill-to-parent-size {
    width: 100%;
    height: 100%;
}
.CoverPanelStyle {
    border-radius: {{CoverTopBorderRadius}}px {{CoverTopBorderRadius}}px {{CoverBottomBorderRadius}}px {{CoverBottomBorderRadius}}px;
    overflow: hidden;
}
.InfoPanelStyle {
    border-radius: {{IndividualColorPanelTopBorderRadius}}px {{IndividualColorPanelTopBorderRadius}}px {{IndividualColorPanelBottomBorderRadius}}px {{IndividualColorPanelBottomBorderRadius}}px;
    padding: {{IndividualColorPanelPadding}}px;
    overflow: hidden;
}
.StaticGradient {
    background: linear-gradient(to bottom, {{StaticGradientTopColor}}, {{StaticGradientBottomColor}} {{StaticGradientSize}}%);
    border-radius: {{StaticGradientTopBorderRadius}}px {{StaticGradientTopBorderRadius}}px {{StaticGradientBottomBorderRadius}}px {{StaticGradientBottomBorderRadius}}px;
}
.checkboxEnableVisibility {
    visibility: hidden;
}
/* #region Animated Background */
.AnimatedGradientBG {
    background: linear-gradient();
}
/* #endregion Animated Background */
/* #endregion Main */
/* #region ElementsandAnimation */
/* #region BackAndForthAnimation */
.animated {
    position: relative;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    display: inline-block;
    width: fit-content;
    white-space: no-wrap;
}
.track-name-animated {
    color: #fff;
    animation: 4s linear 0s 1 normal forwards paused scrollRight;
    display: inline-block;
    position: relative;
}
.track-artist-animated {
    color: #fff;
    animation: 4s linear 0s 1 normal forwards paused scrollRight;
    display: inline-block;
    position: relative;
}
@keyframes scrollRight {
    from {
		left: 0%;
    }
    to {
        transform: translateX(-100%);
		left: 100%;
    }
}
/* #endregion BackAndForthAnimation */
.track-canvas {
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
}
.track-cover {
    position: relative;
}
.track-cover,
.track-canvas {
    grid-area: track-cover;
}
.track-canvas .track-canvas-vertical {
    width: 100%;
    top: 50%;
}
.track-canvas .track-canvas-horizontal {
    height: 100%;
    left: 50%;
}
.track-info {
    grid-area: track-info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.track-info-playback {
    padding: {{InfoPadding}}em;
}
.track-info-playback-container {
    margin: {{InfoTopMargin}}px {{InfoRightMargin}}px {{InfoBottomMargin}}px {{InfoLeftMargin}}px;
}
.track-name {
    margin: 0 {{IndividualColorPanelRightMargin}}px {{IndividualColorPanelGap}}px {{IndividualColorPanelLeftMargin}}px;
}
.track-artist {
    margin: 0 {{PanelRightMargin}}px 0 {{PanelLeftMargin}}px;
}
.track-name,
.track-artist {
    grid-area: track-info;
  	white-space: nowrap;
}
.track-playback {
    grid-area: track-playback;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.track-time{
    display: flex;
    justify-content: space-between;
}
/* #region ProgressBar */
.track-bar {
    border-radius: 5px;
    background: #717171;
    height: 0.5em;
    margin: 0.5em 0 0 0;
}

.track-progress {
    border-radius: 5px;
    width: 0%;
    height: 100%;
    background: #c1c1c1;
}
/* #endregion ProgressBar */
/* #endregion ElementsandAnimation */
/* #region HorizontalLayout */
/*
    Grid:
        1 2 3 
        2 C|I|

        C = Track Cover
        I = Info
*/
.horizontalLayout {
    display: grid;
  	grid-template: "track-cover track-info-playback" var(--track-cover-size) / var(--track-cover-size) 1fr;
    grid-column-gap: {{ColumnGapSize}}em;
}
.horizontalLayout .track-info-playback {
    grid-area: track-info-playback;
    display: flex;
}
.horizontalLayout .track-info-playback-container {
    flex: 1 1 0;
    display: grid;
    grid-template: "track-info" 3fr "track-playback" 2fr / minmax(0, 1fr);
    grid-row-gap: {{RowGapSize}}em;
}
/* #endregion HorizontalLayout */
/* #region VerticalLayout */
.verticalLayout {
    display: grid;
    grid-template: "track-cover" var(--track-cover-size) "track-info-playback" minmax(0, 1fr) / var(--track-cover-size);
    grid-row-gap: {{RowGapSize}}em;
}
.verticalLayout .track-info-playback {
    grid-area: track-info-playback;
}
.verticalLayout .track-info-playback-container {
    display: grid;
    grid-template: "track-info" 3fr "track-playback" 2fr / minmax(0, 1fr);
    grid-row-gap: {{RowGapSize}}em;
}
/* #endregion VerticalLayout */
/* #region CompactLayout */
.compactLayout {
    display: grid;
    grid-template: "track-cover" var(--track-cover-size) / var(--track-cover-size) ;
}
.compactLayout .track-info-playback {
    grid-area: track-cover;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.compactLayout .track-info-playback-container {
    display: grid;
    grid-template: "track-info" 3fr "track-playback" 2fr / minmax(0, 1fr);
    /* Double check different method to do width(100vw or auto)*/
    width: minmax(auto, var(--track-cover-size));
}
/* #endregion CompactLayout */
